body{
    background-color: cadetblue;
    font-size: small;
}
#head {
    color:crimson; 
    font-size: 3rem;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}
main {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.important {
    color: #001f3f; 
    font-weight: bold;
}
.less{
    color: #AAAAAA;
    font-style: italic;
}
.highlight {
    background-color: #FFDD57; 
    padding: 2px;
}
footer {
    text-align: center;
    color: #AAAAAA; 
    background-color: #f0f0f0;
    padding: 10px;
}
