body{
    background-image: url("bg1-removebg-preview.png");
    background-repeat:no-repeat;
    background-position:right;
    background-color: grey;
    font-family: monospace;
}
header{
    text-align: center;
}