
body {
    background-image: url("projects/Photo Tour/basketball_bg2.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #222;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a.active {
    background-color: #ff9800;
    border-radius: 5px;
}

main {
    background-image: url('rightlogo.png');
    background-repeat: no-repeat;
    background-position: right;    
}

ul {
    list-style-image: url('basketball_icon.png');
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
